body {
}

.sidebar{
    min-height: 768px;
    border-right: 2px solid #808080;
    background: #484848;
    color: #fff;
}
.sidebar li{
    list-style:none;
    background: #686868;
    margin: 1px;
    padding: 10px;
}
.sidebar li:hover{
    background:#393939;
    border-left:3px solid #909090;
    border-right: 3px solid #909090;
}
.sidebar li a{
    color: #fff;
    font-size: 13px;
    text-decoration:none;
}
.editBtn a{
    color: #fff;
}
.infoBtn a{
    color: #fff;
}
.viewProfile a{
    color:#fff;
} 
proEditBtn{
    width:100px;
    height:auto;
    margin:5px;
}
.profileTop{
    height: auto;
    width: 300px;
    margin-left: 20%;
    padding: 5px;
}
.profileImage{

}